{% extends 'base_global.html' %}
{% load static %}


{% block styles_head %}
<link rel="stylesheet" href="{% static 'reserva/css/estilos_reserva.css' %}">
{% endblock %}


{% block global_content %}

    <h1 class="titulo">CITY TOUR CATAMARCA</h1>

    {% if request.user.is_authenticated %}
        <span>Bienvenido, <strong>@{{ request.user.username }}</strong>(Rol: {{ request.user.rol.nombre }})</span>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button class="sesion" type="submit">Cerrar Sesión</button>
        </form>
    {% else %}
        <li><a class="sesion" href="{% url 'login' %}">Iniciar Sesión</a></li>
        <li><a class="sesion" href="{% url 'crear_usuario' %}">Registrarse</a></li>
    {% endif %}

    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'paradas_disponibles' %}">Puntos turisticos</a></li>

            {% if request.user.is_authenticated and  request.user.rol.nombre == 'ADMINISTRADOR' %}
                <li><a href="{% url 'listar_usuarios' %}">Gestionar Usuarios</a></li>
                <li><a href="{% url 'listar_roles' %}">Gestionar Roles</a></li>
                <li><a href="{% url 'lista_itinerarios' %}">Gestionar itinerarios</a></li>
            {% endif %}

        </ul>
    </nav>



    <br><br><br>



<div class="contenedor_reserva">
    {% block reserva_content %}
    {% endblock %}
</div>

{% endblock %}