{% extends 'reserva/base_reserva.html' %}

{% block reserva_content %}
<h1>Paradas visibles</h1>

    <!-- ... Seccion de notificaciones ... -->
    {% if notificaciones %}
        <div class="notificacion-bar">
            <h4>Avisos Importantes</h4>
            {% for noti in notificaciones %}
                <p><strong>{{ noti.titulo }}:</strong> {{ noti.mensaje }} ({{ noti.fecha_hora|date:"d/m/Y" }})</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if paradas %}
    <div class="contenedor-paradas">
      {% for parada in paradas %}
        <a href="{% url 'parada_detalles' parada.id %}" class="card-parada">
          <div class="parada-imagen">
            <img src="{{ parada.imagen.url }}" alt="{{ parada.nombre }}" style="width: 100px;height: 100px;">
          </div>
          <h3>{{ parada.nombre }}</h3>
        </a>
      {% endfor %}
    </div>
    {% else %}
      <p>No hay paradas visibles actualmente.</p>
    {% endif %}

    <h2>Nuestros Recorridos</h2>
    {% if recorridos %}
        <ul>
            {% for recorrido in recorridos %}
                <li>
                    <a href="{% url 'recorrido_detalles' recorrido.id %}">
                        {{ recorrido.nombre_recorrido }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'recorridos_activos' %}">Ver todos los recorridos</a>
    {% else %}
        <p>No hay recorridos para mostrar.</p>
    {% endif %}
  
{% endblock %}