{% extends 'reserva/base_reserva.html' %}

{% block title %}Mis Reservas{% endblock %}

{% block reserva_content %}
    <h1>Mis Reservas</h1>

    {% if reservas %}
        <table class="tabla-mis-reservas">
            <thead>
                <tr>
                    <th>Recorrido</th>
                    <th>Fecha</th>
                    <th>Asientos</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.itinerario.recorrido.nombre_recorrido }}</td>
                        <td>{{ reserva.itinerario.fecha_itinerario|date:"d/m/Y" }} a las {{ reserva.itinerario.hora_itinerario }}</td>
                        <td>{{ reserva.cantidad_asientos }}</td>
                        <td>{{ reserva.get_estado_display }}</td>
                        <td>
                            <a href="{% url 'detalle_reserva' reserva.pk %}">Ver Detalle</a>
                            {% if reserva.estado == 'C' %}
                                | <a href="{% url 'cancelar_reserva' reserva.pk %}">Cancelar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes ninguna reserva activa o pasada.</p>
    {% endif %}
{% endblock %}