{% extends 'base_global.html' %}
{% load static %}

{% block title %}{{ titulo_pagina|default:"Formulario de Notificación" }}{% endblock %}

{% block styles_head %}
    <link rel="stylesheet" href="{% static 'reserva/css/estilos_notificaciones.css' %}">
{% endblock %}

{% block global_content %}
<div class="content-container">
    <h1>{{ titulo_pagina|default:"Formulario de Notificación" }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-accion">Guardar Notificación</button>
        <a href="{% url 'listar_notificaciones' %}" class="btn-accion">Cancelar</a>
    </form>
</div>
{% endblock %}