{% extends 'reserva/base_reserva.html' %}

{% block reserva_content %}
<div class="detalle-parada-contenedor">
    <div class="tarjeta-detalle">
        


        <div class="detalle-img">
            <img src="{{ parada.imagen.url }}" alt="{{ parada.nombre }}">
        </div>

        <h1 class="titulo-parada">{{ parada.nombre }}</h1>

        <div class="detalle-info">
            <p><strong>Descripción:</strong> {{ parada.descripcion_parada }}</p>
            <p><strong>Estado:</strong> {{ parada.get_estado_display }}</p>
            <p><strong>Visible en la página:</strong> 
                {% if parada.visibilidad_pagina %}
                    Sí
                {% else %}
                    No
                {% endif %}
                
            </p>
        </div>

        <div class="botones-detalle">
            <a href="{% url 'paradas_disponibles' %}" class="btn-volver">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}
