{% extends 'reserva/base_reserva.html' %}

{% block title %}Reservas Canceladas{% endblock %}

{% block reserva_content %}
    <h1>Historial de Reservas Canceladas</h1>

    {% if reservas %}
        <table class="tabla-mis-reservas">
            <thead>
                <tr>
                    <th>Recorrido</th>
                    <th>Fecha del Viaje</th>
                    <th>Asientos</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.itinerario.recorrido.nombre_recorrido }}</td>
                        <td>{{ reserva.itinerario.fecha_itinerario|date:"d/m/Y" }} a las {{ reserva.itinerario.hora_itinerario }}</td>
                        <td>{{ reserva.cantidad_asientos }}</td>
                        <td>{{ reserva.get_estado_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes ninguna reserva cancelada.</p>
    {% endif %}
{% endblock %}