{% extends 'base_global.html' %}
{% load static %}

{% block title %}Panel de Informes{% endblock %}

{% block styles_head %}
    <link rel="stylesheet" href="{% static 'informe/css/estilos_informe.css' %}">
{% endblock %}

{% block global_content %}
    <header class="encabezado">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'lista_itinerarios' %}">Panel de Gestión</a>
        <h1>Panel de Informes</h1>
 
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>
{% endblock %}