{% extends 'base_global.html' %}
{% load static %}
    {% block title %}Panel de Gestión{% endblock %}

    {% block styles_head %}
    <link rel="stylesheet" href="{% static 'recorrido/css/estilos_recorrido.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/estilos_global.css' %}"> -->
    {% endblock %}


    {% block global_content %}

    <header>
        <h1>Panel de Gestión</h1>
    </header>
    <a href="{% url 'index' %}">Inicio</a>

 <!-- Hice dos navbar para que no se vea sobrecargada una -->
    <nav>
        <ul>
            <li><a href="{% url 'lista_paradas' %}">Lista de Paradas</a></li>
            <li><a href="{% url 'lista_recorridos' %}">Lista de Recorridos</a></li>
            <li><a href="{% url 'lista_unidades' %}">Lista de Unidades</a></li>
            <li><a href="{% url 'lista_itinerarios' %}">Lista de Itinerarios</a></li>
            <li><a href="{% url 'dashboard_informes' %}">Generar Informes</a></li>
        </ul>
    </nav>
    <hr>
    <nav>
        <ul>
            <li><a href="{% url 'crear_parada' %}">Crear Parada</a></li>
            <li><a href="{% url 'crear_recorrido' %}">Crear Recorrido</a></li>
            <li><a href="{% url 'agregar_unidad' %}">Agregar Unidad</a></li>
            <li><a href="{% url 'crear_itinerario' %}">Crear Itinerario</a></li>
        </ul>
    </nav>

    <!-- NOTA: Se que las tablas hay una forma mas eficiente de generarlas pero de momento estoy probando, no seran finales. -->

    <br><br>

    <main>
        {% block content %}{% endblock %}
    </main>

    <br><br><br>

    {% endblock %}

