<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administrar itinerarios{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'recorrido/css/estilos_recorrido.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_global.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Todhri&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Administrar itinerarios</h1>
    </header>


    <nav>
        <ul>
            <li><a href="{% url 'lista_paradas' %}">Lista de Paradas</a></li>
            <li><a href="{% url 'lista_recorridos' %}">Lista de Recorridos</a></li>
            <li><a href="{% url 'lista_unidades' %}">Lista de Unidades</a></li>
            <li><a href="{% url 'lista_itinerarios' %}">Lista de Itinerarios</a></li>
        </ul>
    </nav>
    <hr>
    <nav>
        <ul>
            <li><a href="{% url 'crear_parada' %}">Crear Parada</a></li>
            <li><a href="{% url 'crear_recorrido' %}">Crear Recorrido</a></li>
            <li><a href="{% url 'agregar_unidad' %}">Agregar Unidad</a></li>
            <li><a href="{% url 'crear_itinerario' %}">Crear Itinerario</a></li>
        </ul>
    </nav>

    <br><br>

    <main>
        {% block content %}{% endblock %}
    </main>

    <br><br><br>
    <footer id="footer" class="text-center">
        <p>2025 CITYTOUR Catamarca - Todos los derechos reservados</p>
    </footer>
</body>
</html>
