{% extends 'recorrido/base.html' %}

{% block title %}Lista de Unidades{% endblock %}

{% block content %}

    <h1>Lista de unidades</h1>

    <table class="unidades-table" aria-describedby="lista-unidades">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patente</th>
                <th>Cantidad de Asientos</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for unidad in unidades %}
                <tr>
                    <td>{{ unidad.id }}</td>
                    <td>{{ unidad.patente }}</td>
                    <td>{{ unidad.cantidad_asientos }}</td>
                    <td>{{ unidad.estado }}</td>
                    <td>
                        <a href="{% url 'editar_unidad' unidad.pk %}">Editar</a>
                        <a href="{% url 'eliminar_unidad' unidad.pk %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay unidades registradas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}