{% extends 'recorrido/base.html' %}

{% block title %}Lista de Paradas{% endblock %}

{% block content %}

    <h1>Lista de Paradas</h1>

    <table class="paradas-table" aria-describedby="lista-paradas">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for parada in paradas %}
                <tr>
                    <td>{{ parada.id }}</td>
                    <td>{{ parada.nombre }}</td>
                    <td>{{ parada.estado }}</td>
                    <td>{{ parada.descripcion_parada }}</td>
                    <td>
                        <a href="{% url 'editar_parada' parada.pk %}">Editar</a>
                        <a href="{% url 'eliminar_parada' parada.pk %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay paradas registradas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}