<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CityTour Catamarca</title>
</head>
<body>

    <nav style="background-color: #eee; padding: 10px;">

        <a href="{% url 'pagina_principal' %}">Inicio</a>
        {% if request.user.is_authenticated %}
            <span> | Bienvenido, <strong>@{{ request.user.username }}</strong></span>
            <span> (Rol: {{ request.user.rol.nombre }})</span>

            <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Cerrar Sesión</button>
            </form>

            {% if request.user.rol.nombre == 'ADMINISTRADOR' %}
                <span> | </span>
                <a href="{% url 'listar_usuarios' %}">Gestionar Usuarios</a>
                <span> | </span>
                <a href="{% url 'listar_roles' %}">Gestionar Roles</a>
                {% endif %}

        {% else %}
            <span> | </span>
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <span> | </span>
            <a href="{% url 'crear_usuario' %}">Registrarse</a>

        {% endif %}
    </nav>

    <h1>Bienvenido a CityTour Catamarca</h1>
    <p>Esta es la descripción del servicio...</p>

    <hr>

    <h2>Recorridos Disponibles</h2>
    <p>Aquí se mostrarán los recorridos...</p>

</body>
</html>