/*GENERAL*/
body {
    /* 1. background-image: Especifica la ruta a tu imagen de fondo. */
    background-image: url('../imagenes/dique.jpeg'); /* Reemplaza con el nombre de tu imagen */

    /* 2. background-size: Asegura que la imagen cubra todo el elemento sin estirarse demasiado */
    background-size: cover;

    /* 3. background-repeat: Evita que la imagen se repita si es más pequeña que la pantalla */
    background-repeat: no-repeat;

    /* 4. background-position: Centra la imagen en la pantalla */
    background-position: center center;

    /* 5. background-attachment: Mantiene la imagen fija al hacer scroll */
    background-attachment: fixed;

    /* Opcional: Para asegurar que el fondo ocupe toda la altura de la ventana */
    min-height: 100vh;
    margin: 0; /* Elimina el margen por defecto del body */
}

/*BARRA DE NAVEGACION*/
/* Fondo personalizado de la navbar */
.navbar {
    position: sticky;
    top: 0; /* O el valor deseado para el borde superior */
    z-index: 1000;
}

h1 {
    border-bottom: solid 2px rgba(0, 0, 0, 0.103);
    margin-bottom: 25px;
    padding-bottom: 15px;
}

/*PANEL DE NOVEDADES*/
#panel_novedades {
    margin-top: 0 !important;
}

/*CUADRADO CONTENEDOR*/
#contenedor_global {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 90%;
}

/*BOTONES*/
form .contenedor_botones{
    display: flex;
    justify-content: center;
    gap: 10px;
}
form .boton_submit {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(2, 190, 2);
    color: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
form .boton_submit:hover {
    background-color: rgb(0, 255, 0);
    transform: scale(1.1);
}
form .boton_reset {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(209, 19, 19);
    color: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
form .boton_reset:hover {
    background-color: rgb(255, 3, 3);
    transform: scale(1.1);
}

/*IMAGENES*/
img {
    max-width: 70%;
    max-height: 70%;
}

/*FOOTER*/
footer {
    /*flex: 1;   No borrar de momento*/
    font-weight: 500;
    text-align: center;
    color:blanchedalmond;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.form-check-label {
    margin-right: 10px;
}

.alert {
    max-height: 40px;
    max-width: 400px;
    visibility: hidden;
}