

/* NOTA: Se que puedo generalizarlor con la etiqueta table, NO CAMBIAR */
.paradas-table { width:100%; border-collapse: collapse; font-family: Arial, sans-serif; }
.paradas-table th, .paradas-table td { border: 1px solid #ddd; padding: 8px; }
.paradas-table th { background: #f4f4f4; text-align: left; }
.paradas-table tr:nth-child(even) { background: #fafafa; }
.paradas-table caption { caption-side: top; font-weight: bold; margin-bottom: 8px; }

/* PRUEBA DE ESTILO */
.recorridos-table,.unidades-table { width:100%; border-collapse: collapse; font-family:'Montserrat', sans-serif; }
.recorridos-table th, .recorridos-table td, .unidades-table th, .unidades-table td { border: 1px solid  #ddd; padding: 8px; }
.recorridos-table th, .unidades-table th { background: #f4f4f4; text-align: left; }
.recorridos-table tr:nth-child(even), .unidades-table tr:nth-child(even) { background: #fafafa; } 
.recorridos-table caption, .unidades-table caption { caption-side: top; font-weight: bold; margin-bottom: 8px; }


table { width:100%; border-collapse: collapse; font-family:'Montserrat', sans-serif; }
table th, table td { border: 1px solid  #ddd; padding: 8px; }
table th { background: #f4f4f4; text-align: left; }
table tr:nth-child(even) { background: #fafafa; }
table caption{ caption-side: top; font-weight: bold; margin-bottom: 8px; }



a{
    color:black;
}