



table { width:100%; border-collapse: collapse; }
table th, table td { border: 1px solid  #000000; padding: 8px; }
table th { background: #f63e02;; text-align: left; color:white;}
table tr:nth-child(even) { background: #eeecec;}
table tr:nth-child(odd) { background: #ffffff;}
table caption{ caption-side: top; font-weight: bold; margin-bottom: 8px; } 

a.inicio,form button, form a{
    display: inline-block;
    padding: 12px 24px;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Efecto hover */
a.inicio:hover,form button:hover, form a:hover{
    background:  #f63e02;
    transform: translateY(-2px);
    color: #000000;
}

.encabezado{
     display: flex;
    align-items: center;
    gap: 15px;               /* Espacio entre el botón y el texto */
    padding: 10px;
}

body{
    background-color: #FFF3D6;
}


form {
    max-width: 700px;            /* ancho máximo */
    margin: 0 auto;            /* centrado horizontal */
    padding: 20px;
    background-color: #ffffff;    /* fondo blanco */
    border-radius: 12px;          /* bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* sombra suave */
    text-align: center;
}
form h1{    
    text-align: center;
}

table tbody td a{
    color:#ffffff;
    text-decoration: none;
    border-radius: 4px;
    background: #000000;
    padding: 1%;
    transition: 0.2s ease-in-out;
}
table tbody td a:hover{
    color:#ffffff;
    background: #f63e02;

}