<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
    <h1>¡Bienvenido, {{ request.user.first_name }}!</h1>

    <p>Has iniciado sesión como: <strong>@{{ request.user.username }}</strong></p>
    <p>Tu rol es: <strong>{{ request.user.rol.nombre|default:"Sin Rol" }}</strong></p>

    <hr>

    <h3>Navegación</h3>
    <nav>
    <ul>
        {% if request.user.rol.nombre == 'Administrador' %}
            <li><a href="{% url 'listar_usuarios' %}">Gestionar Usuarios</a></li>
            <li><a href="{% url 'listar_roles' %}">Gestionar Roles</a></li>
        {% endif %}

        <li>
            <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; padding:0; color:blue; text-decoration:underline; cursor:pointer;">
                    Cerrar Sesión
                </button>
            </form>
        </li>
    </ul>
</nav>

</body>
</html>