{% extends 'usuario/base_usuario.html' %}

{% block title %}Listado de Roles{% endblock %}

{% block usuario_content %}
    <h1>Listado de Roles</h1>
    <table class="tabla-gestion">
        <thead>
            <tr>
                <th>Nombre del Rol</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in roles %}
                <tr>
                    <td>{{ rol.nombre }}</td>
                    <td>{{ rol.descripcion }}</td>
                    <td>
                        <a href="{% url 'editar_rol' rol.pk %}" class="btn-editar">Editar</a>
                        <a href="{% url 'eliminar_rol' rol.pk %}" class="btn-eliminar">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}