<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h1>Iniciar Sesión en CityTour</h1>

    {% if form.errors %}
        <p style="color: red;">Tu usuario o contraseña son incorrectos. Intenta de nuevo. Si el problema persiste, tu usuario puede estar bloqueado por inactividad, por favor contacta a un administrador</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Entrar</button>
    </form>
    <br>
    <a href="{% url 'pagina_principal' %}">Volver a la página principal</a>
</body>
</html>