{% extends 'usuario/base_usuario.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block usuario_content %}
<div class="login-container">
    <div class="login-form">
        <h1>Iniciar Sesión</h1>

        {% if form.errors %}
            <p class="error-message">Tu usuario o contraseña son incorrectos. Intenta de nuevo. Si el error persiste, puedes estar inactivo, por favor contacta con un administrador</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-iniciar-sesion" type="submit">Entrar</button>
        </form>
        <br>
        <div class="login-links">
            <a href="{% url 'index' %}">Volver al Inicio</a>
        </div>
    </div>
</div>
{% endblock %}