/* --- ESTILOS PARA TABLAS --- */
/* .tabla-gestion {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-gestion th, .tabla-gestion td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.tabla-gestion th {
    background-color: #343a40;
    color: white;
} */

/* Estilos para la tabla en parada_detalles */
table { width:100%; border-collapse: collapse; }
table th, table td { border: 1px solid  #000000; padding: 8px; }
table th { background: #f63e02;; text-align: left; color:white;}
table tr:nth-child(even) { background: #eeecec;}
table tr:nth-child(odd) { background: #ffffff;}
table caption{ caption-side: top; font-weight: bold; margin-bottom: 8px; } 

/* --- ESTILOS PARA FORMULARIOS --- */
.form-container,.login-container{
    max-width: 1100px;            /* ancho máximo */
    margin: 0 auto;            /* centrado horizontal */
    padding: 20px;
    background-color: #ffffff;    /* fondo blanco */
    border-radius: 12px;          /* bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
}


form a,form button{
    display: inline-block;
    padding: 12px 24px;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
form a:hover,form button:hover{
    background:  #f63e02;
    transform: translateY(-2px);
    color: #000000;}






/* --- ESTILOS PARA BOTONES DE ACCIÓN --- */
table tbody td a{
    color:#ffffff;
    text-decoration: none;
    border-radius: 4px;
    background: #000000;
    padding: 1%;
    transition: 0.2s ease-in-out;
}
table tbody td a:hover{
    color:#ffffff;
    background: #f63e02;

}
/* .btn-editar {
    color: #fff;
    background-color: #ffc107;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-eliminar {
    color: #fff;
    background-color: #dc3545;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
} */
